*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center
}

.head{
    display: flex;
    padding: 20px 40px 20px 20px;
    background-color: #000;
    align-items: center;
    justify-content:space-between;
    height: 60px;
}
.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 20px;
  }

ul{
    display: flex;
    align-items: center;
    gap: 50px;
    cursor: pointer;
    list-style: none;
    font-size:15px;
    font-family:Poppins ;
    font-style:normal;
    font-weight: 600;
    color: #ffffff;
    margin-right: 300px;
}
.buybutton{
    padding: 5px 25px;
    background: #ba0cc5;
    border-radius: 5px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  }

.heading{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    font-style: normal;
    font-size: 60px;
    font-weight: 600px;
    color: #ffffff;
    
}
p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
  }
.requestbutton{
  background: #ba0cc5;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  padding: 14px 17px;
  margin-top: 35px;
  margin-bottom: 175px;
  cursor: pointer;
}